<div class="row justify-content-center">
  <div class="card col-6 mt-3">
    <div class="card-body text-center">
      <h4 class="mb-5"><%= @current_shop.name %></h4>
      <p>
        <span class="fs-1 text-primary"><%= @deposit.amount %></span> 円<br>
        ボーナス <span class="fs-3 text-secondary"><%= @deposit.bonus_amount %></span> 円
      </p>
      <p class="text-end">残高 <span class="text-secondary fs-2"><%= @user.balance_at(@current_shop) %></span> 円</p>
    </div>
  </div>
</div>
